# For Loops
digunakan untuk melakukan iterasi.\
Hampir semua object di python bisa di iterasi.

Aturan penulisan
```
for item in items:
    execute()
```

In [3]:
for i in "belajar":
    print(i)

b
e
l
a
j
a
r

In [5]:
for i in "belajar":
    print(i, end = '') #using print formating 'end'

belajar

In [8]:
number = [0,1,2,3,4,5,6,7,8,9]
total =  0
for i in number:
    total = total + i
    print("hasil penjumlahan pada iterator ke{} adalah {}".format(i,total))

print("hasil penjumlahan number adalah {} ".format(total))

hasil penjumlahan pada iterator ke0 adalah 0
hasil penjumlahan pada iterator ke1 adalah 1
hasil penjumlahan pada iterator ke2 adalah 3
hasil penjumlahan pada iterator ke3 adalah 6
hasil penjumlahan pada iterator ke4 adalah 10
hasil penjumlahan pada iterator ke5 adalah 15
hasil penjumlahan pada iterator ke6 adalah 21
hasil penjumlahan pada iterator ke7 adalah 28
hasil penjumlahan pada iterator ke8 adalah 36
hasil penjumlahan pada iterator ke9 adalah 45
hasil penjumlahan number adalah 45

In [10]:
for item in "Belajar Bahasa indonesia":
    if item == "a":
        print("ini adalah huruf A")

ini adalah huruf A
ini adalah huruf A
ini adalah huruf A
ini adalah huruf A
ini adalah huruf A
ini adalah huruf A

In [13]:
angka = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
for i in angka:
    if i % 2 == 0:
        print("Angka ",i ," adalah bilangan genap".format(i)) #dengan concenate formater, otomatis convert to string
    else:
        print("Angka ",str(i) ," adalah bilangan ganjil".format(i)) #dengan concenate formater,

Angka  0  adalah bilangan genap
Angka  1  adalah bilangan ganjil
Angka  2  adalah bilangan genap
Angka  3  adalah bilangan ganjil
Angka  4  adalah bilangan genap
Angka  5  adalah bilangan ganjil
Angka  6  adalah bilangan genap
Angka  7  adalah bilangan ganjil
Angka  8  adalah bilangan genap
Angka  9  adalah bilangan ganjil
Angka  10  adalah bilangan genap
Angka  11  adalah bilangan ganjil
Angka  12  adalah bilangan genap
Angka  13  adalah bilangan ganjil
Angka  14  adalah bilangan genap

# for loop dengan tuple dan list multiple item

In [14]:
box1 = ((1,2),(3,4),(5,6))

In [15]:
for item in box1:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [16]:
for a,b in box1:
    print(a,b)

1 2
3 4
5 6

In [18]:
for a,b in box1:
    print(a)
    print(b)

1
2
3
4
5
6

In [21]:
box2 = [[1,2,'a'],[3,4,'b'], [5,6,'c']]
for a,b,c in box2:
    print(a)
    print(b)
    
for a,b,c in box2:
    print(c)

1
2
3
4
5
6
a
b
c

# While Loop

Ada 3 Argumen yang bisa digunakan:
1. break = menghentikan looping
2. continue = melanjutkan looping ke iterator selanjutnya dan skip current loop
3. pass = tidak melakukan apa-apa

```
while(sebuah kondisi = True):
    execution
```

In [24]:
index = 0
while True: # Mengulang tanpa henti akan berhenti jika ada peritah break atau jika ram habis
    index+=1
    if index == 3:
        continue
    
    print("Ini ada looping iterasi ke-", index)
    
    if index == 5:
        break

Ini ada looping iterasi ke- 1
Ini ada looping iterasi ke- 2
Ini ada looping iterasi ke- 4
Ini ada looping iterasi ke- 5

In [27]:
x = 0
while x < 10:
    print("Ini ada looping iterasi ke-", x)
    x += 2

Ini ada looping iterasi ke- 0
Ini ada looping iterasi ke- 2
Ini ada looping iterasi ke- 4
Ini ada looping iterasi ke- 6
Ini ada looping iterasi ke- 8

In [28]:
for i in "abcd":
    pass

# Range

In [31]:
for i in range(0,100,15):
    print("Ini ada looping iterasi ke-", i)

Ini ada looping iterasi ke- 0
Ini ada looping iterasi ke- 15
Ini ada looping iterasi ke- 30
Ini ada looping iterasi ke- 45
Ini ada looping iterasi ke- 60
Ini ada looping iterasi ke- 75
Ini ada looping iterasi ke- 90

In [32]:
angka1 = list(range(1,10))
print(angka1)

angka2 = list(range(1,100,5))
print(angka2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

# Enumerate

In [36]:
# Sample loop without enumerate :
index = 0
for item in "yoga":
    print("karakter ", item," berada pada index ke-", index)
    index+=1

karakter  y  berada pada index ke- 0
karakter  o  berada pada index ke- 1
karakter  g  berada pada index ke- 2
karakter  a  berada pada index ke- 3

In [37]:
# Sample loop with enumerate :
for item in enumerate("yoga"):
    print(item)

(0, 'y')
(1, 'o')
(2, 'g')
(3, 'a')

In [38]:
# Sample loop with enumerate and tuple :
for a,b in enumerate("yoga"):
    print("karakter ", b," berada pada index ke-", a)

karakter  y  berada pada index ke- 0
karakter  o  berada pada index ke- 1
karakter  g  berada pada index ke- 2
karakter  a  berada pada index ke- 3

# Zip

In [40]:
list1 = [1,2,3,4,5]
list2 = ["a", "b", "c", "d", "e"]
list3 = [0.1,0.2,0.3,0.4,0.5]

for x,y,z in zip(list1,list2,list3):
    print("Nomor {} berisi huruf {} dengan nilai {}".format(x,y,z))

Nomor 1 berisi huruf a dengan nilai 0.1
Nomor 2 berisi huruf b dengan nilai 0.2
Nomor 3 berisi huruf c dengan nilai 0.3
Nomor 4 berisi huruf d dengan nilai 0.4
Nomor 5 berisi huruf e dengan nilai 0.5

In [41]:
list(zip(list1,list3))

[(1, 0.1), (2, 0.2), (3, 0.3), (4, 0.4), (5, 0.5)]

# Item checking

In [44]:
print("a" in "Yoga Prasetiyo")
print("y" in "Yoga Prasetiyo")
print("v" in "Yoga Prasetiyo")

True
True
False

In [48]:
box = {"a":100, "b":200, "c":300}

print("c" in box)
print(c in box)
print(300 in box)
print(300 in box.values())

True
True
False
True

# Advance for loops

kelebihan: menghemat memory

In [50]:
items1 = list(range(1,11))
print(items1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
items2 = list()
for item in range(1,11):
    items2.append(item)
    
print(items2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
items3 = [item for item in range(1,11)]
# Kelebihan penulisan items3 dibanding items1 adalah :
# saat list di append oleh item, item bisa menggunakan
# fungsi aritmatika, lebih jelasnya lihat code items4

print(items3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
items4 = [ ((item**2)+3)/2 for item in range(1,11)]
# pada contoh di atas item menggunakan pangkat 2 dijumlah 3 kemudian dibagi 2
print(items4)

[2.0, 3.5, 6.0, 9.5, 14.0, 19.5, 26.0, 33.5, 42.0, 51.5]

In [64]:
# CONTOH JIKA MENGGUNAKAN IF SAJA
items5 = [item for item in range(1,101) if item%2==0]
print(items5)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [65]:
# CONTOH JIKA MENGGUNAKAN IF DAN ELSE
items6 = [item if item%2==0 else 0 for item in range(1,101) ]
print(items6)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 12, 0, 14, 0, 16, 0, 18, 0, 20, 0, 22, 0, 24, 0, 26, 0, 28, 0, 30, 0, 32, 0, 34, 0, 36, 0, 38, 0, 40, 0, 42, 0, 44, 0, 46, 0, 48, 0, 50, 0, 52, 0, 54, 0, 56, 0, 58, 0, 60, 0, 62, 0, 64, 0, 66, 0, 68, 0, 70, 0, 72, 0, 74, 0, 76, 0, 78, 0, 80, 0, 82, 0, 84, 0, 86, 0, 88, 0, 90, 0, 92, 0, 94, 0, 96, 0, 98, 0, 100]