## Mengenal Tipe Data, Numbers, Strings, Slicing di Python

In [1]:
a = "Python Online Compiler"
print(a[0:3])
print(a[7:-1])
print(a[:])
print(a[2:-1:2])
print(a[::-1])

tup = (1, "22", "lis")
print(tup)

list = [1,2,3,4]
print(list)

set = {"apel", "pisang", "yuhuuhu" }
print(set)

dict = {"0": "Yoga", "1": "Apri"}
print(dict)

Pyt
Online Compile
Python Online Compiler
to nieCmie
relipmoC enilnO nohtyP
(1, '22', 'lis')
[1, 2, 3, 4]
{'apel', 'pisang', 'yuhuuhu'}
{'0': 'Yoga', '1': 'Apri'}

In [6]:
item = ["apple", "pisang", "grape", "banana", "avocade", "pinneaple"]
item[0::2]

['apple', 'grape', 'Watermelon']

In [18]:
item = ["apple", "pisang", "grape", "banana", "avocade", "pinneaple"]
item[4] = "Watermelon"
item

['apple', 'pisang', 'grape', 'banana', 'Watermelon', 'pinneaple']

In [23]:
first = "Yoga"
last = "Prasetiyo "

name = first + " "+ last
name

'Yoga Prasetiyo '

In [13]:
item = "Mouse_"
item*7

'Mouse_Mouse_Mouse_Mouse_Mouse_Mouse_Mouse_'

In [22]:
name + "Pergi ke Yogya_"*2

'Yoga Prasetiyo Pergi ke Yogya_Pergi ke Yogya_'

## Method Python

In [29]:
var1 = "Makanan 4 Sehat 5 Sempurna"
upper = var1.upper()
lower = var1.lower()

print(upper)
print(lower)

MAKANAN 4 SEHAT 5 SEMPURNA
makanan 4 sehat 5 sempurna

In [30]:
var1.split()

['Makanan', '4', 'Sehat', '5', 'Sempurna']

**'A' Sebagai Pemisah**

In [35]:
upper.split('A')

['M', 'K', 'N', 'N 4 SEH', 'T 5 SEMPURN', '']

``NLP = Natural Language Processing``

In [38]:
var2 = "yoga;afri;daniel;andro"
var2.split(";")

['yoga', 'afri', 'daniel', 'andro']

In [39]:
type(var2)

str

## Print Formating

In [3]:
print("Ini adalah {} buah apple".format("10"))
print("3 mall di kota bogor adalah {}, {} dan {}".format("Botani Square", "Ekalokasari", "Bogor Trade Mall"))
print("3 mall di kota bogor adalah {2}, {0} dan {1}".format("Botani Square", "Ekalokasari", "Bogor Trade Mall"))
print("3 mall di kota bogor adalah {a}, {b} dan {c}".format(c="Botani Square", b="Ekalokasari", a="Bogor Trade Mall"))

Ini adalah 10 buah apple
3 mall di kota bogor adalah Botani Square, Ekalokasari dan Bogor Trade Mall
3 mall di kota bogor adalah Bogor Trade Mall, Botani Square dan Ekalokasari
3 mall di kota bogor adalah Bogor Trade Mall, Ekalokasari dan Botani Square

In [4]:
phi = 22/7

In [8]:
print("Untuk menghitung luas lingkaran gunakanlah phi = {}".format(phi))

Untuk menghitung luas lingkaran gunakanlah phi = 3.142857142857143

### Format penulisan untuk method print {nilai:lebar.tingkat_presisis f}.

In [16]:
luas1 = 2667.9
luas2 = 20998.7

print("Luas tanah pak dadang adalah {a} {b}".format(a=luas1,b=luas2))

Luas tanah pak dadang adalah 2667.9 20998.7

In [18]:
print("Luas tanah pak dadang adalah {a:5.12f} {b:2.6f}".format(a=luas1,b=luas2))

Luas tanah pak dadang adalah 2667.900000000000 20998.700000