 # Arti
 
 List adalah kumpulan data yang berbeda type, contoh :

In [12]:
keranjang = [1, 2.3, "Apel"]

In [4]:
len(keranjang)

3

In [11]:
for i in range(0, len(keranjang)) :
    print("keranjang {} berisi {}".format(i, keranjang[i]))

keranjang 0 berisi 1
keranjang 1 berisi Mangga
keranjang 2 berisi Mangga

In [13]:
keranjang[1] = "Mangga"
for i in range(0, len(keranjang)) :
    print("keranjang {} berisi {}".format(i, keranjang[i]))

keranjang 0 berisi 1
keranjang 1 berisi Mangga
keranjang 2 berisi Apel

In [14]:
jeruk = ["jeruk"]

In [15]:
keranjang = keranjang + jeruk
for i in range (0, len(keranjang)):
    print("keranjang {} berisi {}".format(i, keranjang[i]))

keranjang 0 berisi 1
keranjang 1 berisi Mangga
keranjang 2 berisi Apel
keranjang 3 berisi jeruk

In [17]:
keranjang.append("pisang")
print(keranjang)

[1, 'Mangga', 'Apel', 'jeruk', 'pisang', 'pisang']

In [18]:
buah_lain = ["anggur", "kiwi", "nanas", "jeruk bali"]
keranjang = keranjang + buah_lain
keranjang.append(buah_lain)

print(keranjang)

[1, 'Mangga', 'Apel', 'jeruk', 'pisang', 'pisang', 'anggur', 'kiwi', 'nanas', 'jeruk bali', ['anggur', 'kiwi', 'nanas', 'jeruk bali']]

In [19]:
keranjang

[1,
 'Mangga',
 'Apel',
 'jeruk',
 'pisang',
 'pisang',
 'anggur',
 'kiwi',
 'nanas',
 'jeruk bali',
 ['anggur', 'kiwi', 'nanas', 'jeruk bali']]

In [20]:
keranjang.pop()
keranjang

[1,
 'Mangga',
 'Apel',
 'jeruk',
 'pisang',
 'pisang',
 'anggur',
 'kiwi',
 'nanas',
 'jeruk bali']

In [21]:
keranjang.pop(1)
keranjang

[1,
 'Apel',
 'jeruk',
 'pisang',
 'pisang',
 'anggur',
 'kiwi',
 'nanas',
 'jeruk bali']

In [22]:
keranjang.pop(0)
keranjang

['Apel', 'jeruk', 'pisang', 'pisang', 'anggur', 'kiwi', 'nanas', 'jeruk bali']

In [23]:
keranjang.sort()

In [24]:
keranjang

['Apel', 'anggur', 'jeruk', 'jeruk bali', 'kiwi', 'nanas', 'pisang', 'pisang']

In [25]:
var1 = [1,2,5,94,3,1,4,8,87,6,31,5,8,313,188]
var2 = var1.sort()
var2

In [26]:
type(var2)

NoneType

In [27]:
type(var1)

list

In [28]:
var1.sort()
var2 = var1
var2

[1, 1, 2, 3, 4, 5, 5, 6, 8, 8, 31, 87, 94, 188, 313]

In [29]:
type(var2)

list

In [30]:
var2.reverse()
var2

[313, 188, 94, 87, 31, 8, 8, 6, 5, 5, 4, 3, 2, 1, 1]

In [31]:
dataku = ['b', 'a', 3, 'd', 'c', 6, 'e', 23.98, 24.1]
karakter = list(filter(lambda x : type(x) ==str, dataku))
angka_int = list(filter(lambda x: type(x) == int, dataku))
angka_float = list(filter(lambda x: type(x) == float, dataku))

output = sorted(karakter) + sorted(angka_int) + sorted(angka_float)
print(output)

['a', 'b', 'c', 'd', 'e', 3, 6, 23.98, 24.1]

In [32]:
output[4::]

['e', 3, 6, 23.98, 24.1]

In [34]:
list1 = [1,2,3,4,5,[6, "saya", "ini", ["jojo", "all"]]]
list1

[1, 2, 3, 4, 5, [6, 'saya', 'ini', ['jojo', 'all']]]

In [35]:
list1[5][3][1]

'all'

## Lebih dalam dengan list

In [39]:
var1 = list()
var2 = []

print(type(var1))
print(type(var2))

if var1 == var2:
    print("var1 dan var2 equal")

<class 'list'>
<class 'list'>
var1 dan var2 equal

In [41]:
baru = list("Saya senang belajar python")
baru

['S',
 'a',
 'y',
 'a',
 ' ',
 's',
 'e',
 'n',
 'a',
 'n',
 'g',
 ' ',
 'b',
 'e',
 'l',
 'a',
 'j',
 'a',
 'r',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [44]:
ganjil = [1,3,5,7,9]
genap = [2,4,6,8,10]

angka = ganjil+ genap
print(angka)

bilangan = [ganjil,genap]
print(bilangan)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [47]:
for apapun in bilangan:
    print(apapun)
    for hasil in apapun:
        print("hasil output {}".format(hasil))

[1, 3, 5, 7, 9]
hasil output 1
hasil output 3
hasil output 5
hasil output 7
hasil output 9
[2, 4, 6, 8, 10]
hasil output 2
hasil output 4
hasil output 6
hasil output 8
hasil output 10